In [1]:
#Importing important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [2]:
#importing data

df = pd.read_excel('DataSet/PPG-BP dataset.xlsx')

In [3]:
df

,Cardiovascular Dataset Information File,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Hospital Electronic Medical Record,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension,Diabetes,cerebral infarction,cerebrovascular disease
1,1,2,Female,45,152,63,161,89,97,27.268,Stage 2 hypertension,NaN,NaN,NaN
2,2,3,Female,50,157,50,160,93,76,20.2848,Stage 2 hypertension,NaN,NaN,NaN
3,3,6,Female,47,150,47,101,71,79,20.8889,Normal,NaN,NaN,NaN
4,4,8,Male,45,172,65,136,93,87,21.9713,Prehypertension,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,215,415,Male,24,180,70,111,70,77,21.6049,Normal,NaN,NaN,NaN
216,216,416,Female,25,156,47,93,57,79,19.313,Normal,NaN,NaN,NaN
217,217,417,Male,25,176,55,120,69,72,17.7557,Prehypertension,NaN,NaN,NaN
218,218,418,Male,25,173,63,106,69,67,21.0498,Normal,NaN,NaN,NaN
219,219,419,Male,24,175,58,108,68,65,18.9388,Normal,NaN,NaN,NaN

In [4]:
data = pd.read_csv("DataSet/PPG-BP dataset.csv")

data.head()

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension,Diabetes,cerebral infarction,cerebrovascular disease
0,1,2,Female,45,152,63,161,89,97,27.27,Stage 2 hypertension,NaN,NaN,NaN
1,2,3,Female,50,157,50,160,93,76,20.28,Stage 2 hypertension,NaN,NaN,NaN
2,3,6,Female,47,150,47,101,71,79,20.89,Normal,NaN,NaN,NaN
3,4,8,Male,45,172,65,136,93,87,21.97,Prehypertension,NaN,NaN,NaN
4,5,9,Female,46,155,65,123,73,73,27.06,Prehypertension,NaN,NaN,NaN

In [6]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [8]:
data.shape

(219, 14)